<h1>Clientes registrados</h1>

<%= link_to "Nuevo Cliente", new_client_path, class: "btn btn-primary" %>
<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th>Modelo</th>
      <th>Año</th>
      <th>Url</th>
      <th>Email</th>
      <th>Telephone</th>
    </tr>
  </thead>

  <% @clients.each do |client| %>
    <tr>
      <td>
        <a href="<%= client_path(client.id) %>">
        <%= client.name %>
        </a>
      </td>
      <td>
        <a href="<%= client_path(client.id) %>">
        <%= client.unique_repair_id %>
      </a>
      </td>
      <td><%= client.car_model %> </td>
      <td><%= client.car_year %> </td>
      <td><%= client.url %> </td>
      <td><%= client.email %> </td>
      <td><%= client.telephone %> </td>

    </tr>

  <% end %>
</table>
