<h1>New Client Following!</h1>
<%= form_for :client, url: clients_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :car_model %><br>
    <%= f.text_field :car_model %>
  </p>

  <p>
    <%= f.label :car_year %><br>
    <%= f.text_field :car_year %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back", clients_path, class: "btn btn-primary" %>
