
  <div class="parallax-container" data-no-transition-cache>
    <div class="parallax" data-no-transition-cache><%= image_tag "bmwgreenblack.jpg" %></div>
    <div class="row container">
      <br>
      <h1 class="white-text">Da seguimiento a tu reparación</h1>
      <br>
      <br>
      <br>
      <%= form_tag search_clients_path, method: "get" do %>
          <%= text_field_tag :id_query, nil, placeholder: "Ingresa tu código de reparación aquí...", class: "white-text" %>
          <%= submit_tag "Busca tu coche", class: "btn" %>
      <% end %>

    </div>
  </div>
  <!-- <div class="section white">

  </div> -->
  <!-- <div class="parallax-container">
    <div class="parallax"><%= image_tag "bmwgreen.jpg" %></div>
  </div> -->
