
		<div class="row">

			<div class="col s12 m10 l10 main-video-repairs center-align">

				<div id="owl-demo">

				  <div class="item">
						<%= link_to image_tag("ibizanegro/1.jpg"), slider_path, {:target => 'blank'} %>
					</div>
				  <div class="item"><%= image_tag 'ibizanegro/2.jpg'%></div>
				  <div class="item"><%= image_tag 'ibizanegro/3.jpg'%></div>
				  <div class="item"><%= image_tag 'ibizanegro/4.jpg'%></div>
				  <div class="item"><%= image_tag 'ibizanegro/5.jpg'%></div>
				  <div class="item"><%= image_tag 'ibizanegro/6.jpg'%></div>
				  <div class="item"><%= image_tag 'ibizanegro/7.jpg'%></div>
				</div>
			</div>
		</div>
